<div class="container mt-5" *ngIf="productData">
    <div class="row">

        <div class="col-md-5 border p-3 rounded text-center">
            <img [src]="productData.thumbnail" class="img-fluid">
        </div>

        <div class="col-md-7">
            <h2>{{ productData.title }}</h2>
            <p class="text-muted">{{ productData.category }} | {{ productData.brand }}</p>

            <h3 class="text-primary my-3">{{ productData.price }} EGP</h3>

            <p>{{ productData.description }}</p>

            <hr>

            <h5 [ngClass]="productData.stock === 0 ? 'text-danger' : 'text-success'">
                {{ productData.stock === 0 ? 'Out of Stock' : productData.stock + ' items in stock' }}
            </h5>

            <div class="mt-4">
                <button class="btn btn-success btn-lg me-2" [disabled]="productData.stock === 0"
                    (click)="addToCart(productData)">Add to Cart</button>
                <a routerLink="/products" class="btn btn-secondary btn-lg">Back to Products</a>
            </div>
        </div>

    </div>
</div>

<div *ngIf="!productData" class="alert alert-danger text-center">
    Product Not Found!
</div>