.nav-link {
  color: rgba(255, 255, 255, 0.7) !important;
  transition: 0.3s;
}

.nav-link:hover {
  color: white !important;
}

.active-link {
  color: hsl(115, 100%, 50%) !important;
  font-weight: bold;
  border-bottom: 2px solid hsl(115, 100%, 50%);
}